spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:h2:mem:localDB;
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create
  h2:
    console:
      enabled: true
      path: /h2-console
  data:
    redis:
      host: localhost
      port: 6379
  main:
    allow-bean-definition-overriding: true

springdoc:
  swagger-ui:
    enabled: true
  api-docs:
    enabled: true

logging:
  level:
    com.study.shop: debug
    org.springframework.web: debug
    org.springframework.security: debug
    org.hibernate.SQL: info
    org.hibernate.type.descriptor.sql.BasicBinder: debug

jwt:
  secret: SldUU2lnbmluZ0tleUZvclNlY3VyZUF1dGhlbnRpY2F0aW9uSW5TcHJpbmdCb290QXBwbGljYXRpb25XaXRoSFMyNTZBbGdvcml0aG0=

file:
  upload-dir: /uploads/posts